  <div class="popup_sec" ng-show="options.popUp">
<!-- <div class="clos_btn"><img src="images/clos.png"  alt="" ng-click="closePopUP();"></div> -->
 <div class="pop_hdr">Your Password has been changed</div>
 <div class="man_contnt">
  <span>Please Login</span>
  <input type="submit" value="Ok" ng-click="OK();">
 </div>
 </div>


 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="brand" href="">PPL</a>
      <div class="pro_info pull-right">
        <div class="pro_icn"><img src="images/pic_small.png"></div>
        <div class="pro_txt">Me<b class="caret"></b></div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a tabindex="-1" href="#">My Profile</a></li>
          <li><a tabindex="-1" href="#">Message Box</a></li>
          <li><a tabindex="-1" href="#">Change Language</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#">
            <input type="text" placeholder="search" >
            </a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"> <a href="">Home</a> </li>
          <li class=""> <a href="">E-Coupons</a> </li>
          <li class=""> <a href="">E-Brands</a> </li>
          <li class=""> <a href="">Resuse Market</a> </li>
          <li class=""> <a href="">Lost and Found</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="header_lft">
    <div class="logo"><a href="#"><img src="images/logo.png"></a></div>
    <div class="navigatn">
      <ul>
        <li><a ui-sref="home">Home</a></li>
        <li><a href="#"> E-Coupons </a></li>
        <li><a href="#">E-Brands </a></li>
        <li><a href="#"> Resuse Market </a></li>
        <li><a href="#"> Lost and Found</a></li>
      </ul>
    </div>
  </div>
  <div class="header_rgt">
    <div class="flag_div"><img src="images/flag.png"></div>
    <input type="text" placeholder="Search" class="txt_box">
    <!-- <div class="msg_box"><a href="#"><span class="msg_count">100</span></a></div>
    <div class="info_div">
      <div class="image_div"> <img src="images/pic.png"> </div>
      <div class="info_div1">Me</div>
    </div> -->
  </div>
</div>
<div class="container">
  <div class="content">

    <div class="content_rgt">
       <form target='_blank' ng-submit="changePassword()" name="changePasswordForm" novalidate>
       <div class="register_sec">
        <h1>Change Password</h1>
        <ul>
         <li>
           <span>Old Password</span>
           <input 
            type="password" 
            name="currentPassword"
            placeholder="Current Password" 
            ng-model="change_password_data.current_password" 
            required ng-change="hideErromessOnchange();">

          <!-- show an error if this isn't filled in -->
           <label style="color:red" ng-messages="changePasswordForm.currentPassword.$error" ng-if="changePasswordForm.currentPassword.$touched" ng-show="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$invalid">
              <p ng-message="required">Current Password is required.</p>
            </label> 
         </li>

         <li>
           <span>New Password</span>
           <input 
            type="password" 
            name="newPassword" 
            placeholder="New Password"
            ng-model="change_password_data.new_password" 
            ng-minlength="8" 
            ng-maxlength="20"
            required ng-change="hideErromessOnchange();">
           <label style="color:red" ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">
             <!-- show an error if username is too short -->
            <p ng-message="minlength">New Password is too short,must contain atleast eight characters</p>

            <!-- show an error if username is too long -->
            <p ng-message="maxlength">New Password is too long.</p>

            <!-- show an error if this isn't filled in -->
            <p ng-message="required">New Password is required.</p>
           </label> 
    
        </li>

        <li>
           <span>Confirm Password</span>
           <input 
             type="password" 
             name="confirmPassword"
             placeholder="Confirm Password" 
             ng-model="change_password_data.confirm_password" 
             ng-minlength="8" 
             ng-maxlength="20"
             required ng-change="hideErromessOnchange();">

           <!-- show an error if username is too short -->
    
           <label style="color:red" ng-messages="changePasswordForm.confirmPassword.$error" ng-if="changePasswordForm.confirmPassword.$touched" ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid">
              <p ng-message="minlength">Confirm Password is too short,must contain atleast eight characters</p>

              <!-- show an error if username is too long -->
              <p ng-message="maxlength">Confirm Password is too long.</p>

              <!-- show an error if this isn't filled in -->
              <p ng-message="required">Confirm Password is required.</p>
           </label> 
       </li>
       <li >
            <div style="color:red" ng-show="options.showError"><label><span>{{options.ErrorMessage}}</span></label></div>
           </li>
       <li>
         <!--  <p ng-bind="" class="error">{{errorMessage | locale : "err"}}</p> -->
          <input type="submit" ng-disabled="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$invalid || changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid || changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid" value="Submit">
       </li>
       
      </ul> 
      </div> 
     </form>
     
    </div>

    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="images/img_9.png"  alt=""/> </div>
  </div>
</div>

<div class="clear"></div>
</div>
<div class="footr">
  <div class="footr_lft">
    <div class="footer_div1">Copyright © Pet-Socail 2014 All Rights Reserved</div>
    <div class="footer_div2"><a href="#">Privacy Policy </a>| <a href="#"> Terms & Conditions</a></div>
  </div>
  <div class="footr_rgt">
    <ul>
      <li><a href="#"><img src="images/social_1.png"></a></li>
      <li><a href="#"><img src="images/social_2.png"></a></li>
      <li><a href="#"><img src="images/social_3.png"></a></li>
      <li><a href="#"><img src="images/social_4.png"></a></li>
    </ul>
  </div>
</div>

